<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <div class="card p-0">
                <div class="card-title text-center">
                    <h5 class="mt-5">FORGOT PASSWORD</h5> <small class="para">Enter email address for new password
                    </small>
                </div>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="forgot-password">
                    <label>Password</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your password Address"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">password is required</div>
                            
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter conform_password Address" formControlName="conform_password"
                            [ngClass]="{ 'is-invalid': submitted && f['conform_password'].errors }">
                        <div *ngIf="submitted && f['conform_password'].errors" class="invalid-feedback">
                            <div *ngIf="f['conform_password'].errors['required']">conform password is required</div>
                            <div *ngIf="f['conform_password'].errors['MustMatch']">password Doesn't match</div>                            
                        </div>
                    
                    </div>

                    <button type="submit" class="btn btn-primary" routerLink="/login">Reset Password</button>

                    <div class="row">
                        <div class="col-6 col-sm-6"> <a routerLink="/login">
                                <p class="text-left pt-2 ml-1">Login</p>
                            </a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
