.card {
  border: none;
  border-radius: 0;
  width: 420px !important;
  margin: 0 auto;
  height: 420px;
}
p {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 50px 50px 50px 50px;
  text-align: center;
}
