<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <div class="card p-0">
                <div class="card-title text-center">
                    <h5 class="mt-5">FORGOT PASSWORD</h5> <small class="para">Enter email address for new password  </small>
                </div>
                <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="forgot-password">
                    <label>Your email address</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your Email Address" formControlName="email" 
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" >
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">send Link</button>
                    
                    <div class="row">
                        <div class="col-6 col-sm-6"> <a routerLink="/">
                                <p class="text-left pt-2 ml-1">Login</p>
                            </a> </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

